html {
  overscroll-behavior-x: hidden;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  background-color: whitesmoke;
  box-sizing: border-box;
  position: absolute;
  padding: 0;
  margin: 0; }

nav {
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  position: fixed;
  height: 55px;
  border-top: #25A032 solid 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.281);
  z-index: 2; }
  nav ul {
    margin: 0px;
    padding-top: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around; }
    nav ul #logo {
      margin-top: -5px;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 200%;
      color: #25A032; }
    nav ul button {
      background-color: #757575;
      color: #fff;
      padding: 10px 25px;
      border-radius: 20px;
      border: none; }
      nav ul button #sign-in {
        color: #fff; }
      nav ul button:hover {
        background-color: #444; }
    nav ul a {
      text-decoration: none;
      color: #25A032; }

.container {
  margin: auto;
  margin-top: 80px;
  width: 100vw;
  left: 0;
  position: absolute;
  background-color: whitesmoke; }
  .container .page {
    width: 90vw;
    margin: auto;
    background-color: whitesmoke; }
  .container #get-started {
    width: 100%;
    padding: 0 20%;
    background-color: whitesmoke; }
  .container img {
    width: 20%;
    border-radius: 20px;
    float: left; }
  .container .main-text {
    float: left;
    width: 40%; }
    .container .main-text button {
      height: 60px;
      width: 400px;
      color: #fff;
      background-color: #25A032;
      font-size: 200%;
      font-weight: 400;
      border: none;
      border-radius: 5px; }
      .container .main-text button:hover {
        background-color: #1e8328;
        cursor: pointer; }
  .container #info {
    background-color: #fff;
    height: 400px;
    padding-top: 100px;
    text-align: center;
    width: 100%; }
    .container #info .boxes {
      background-color: #757575;
      width: 500px;
      height: 280px;
      margin: auto 20px;
      display: inline-flex;
      text-align: center; }
      .container #info .boxes .b-text {
        cursor: pointer; }
      .container #info .boxes h2 {
        margin: 0;
        margin: 50px auto;
        color: white; }

#invest {
  text-align: center;
  height: 600px;
  width: 80%;
  margin: auto; }
  #invest h2 {
    font-size: 40px; }

#canvas-holder {
  width: 49%; }

#canvas-text-holder {
  width: 49%;
  background-color: rgba(255, 255, 255, 0.438); }

.chart-text {
  width: 100%;
  display: inline-flex; }

#chart-text-para {
  padding: 40px 70px; }

.reviews {
  padding-top: 150px;
  height: 300px;
  text-align: center; }
  .reviews #left-arrow, .reviews #right-arrow {
    cursor: pointer; }
  .reviews .slider-container {
    margin: auto;
    width: 500px;
    height: 150px;
    background-color: #757575;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    border-radius: 20px; }
    .reviews .slider-container p {
      display: inline-block;
      margin: 0 10px;
      font-size: 30px; }
    .reviews .slider-container #review-text-container {
      display: inline-block;
      width: 300px;
      min-height: 100px;
      vertical-align: middle; }

footer {
  text-align: center; }

@media only screen and (max-width: 1100px) {
  #get-started {
    width: 100%;
    padding: 0 20%;
    background-color: whitesmoke;
    text-align: center; }
    #get-started h1 {
      font-size: 7vw !important; }
  img {
    margin: 20px 10%;
    width: 200px;
    border-radius: 20px;
    clear: both;
    width: 40% !important; }
  .main-text {
    clear: both;
    width: 60% !important; }
    .main-text button {
      height: 60px;
      width: 100% !important;
      color: #fff;
      background-color: #25A032;
      font-size: 200%;
      font-weight: 400;
      border: none;
      border-radius: 5px; }
      .main-text button:hover {
        background-color: #1e8328;
        cursor: pointer; }
  #info {
    padding-bottom: 50px !important;
    background-color: #fff;
    height: auto !important;
    padding-top: 50px !important;
    text-align: center;
    width: 100%; }
    #info .boxes {
      background-color: #757575;
      width: 60% !important;
      height: 280px;
      margin: 20px 20px !important;
      display: inline-flex;
      text-align: center; }
      #info .boxes .b-text {
        cursor: pointer; }
      #info .boxes h2 {
        font-size: 100%;
        margin: 0;
        margin: 50px auto;
        padding: 20px 50px;
        color: white; }
  #invest {
    text-align: center;
    height: auto;
    width: 80%;
    margin: auto; }
    #invest h2 {
      font-size: 7vw !important; }
  #canvas-holder {
    width: 100%; }
  #canvas-text-holder {
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.438); }
  .chart-text {
    width: 100% !important;
    display: block !important; }
  #chart-text-para {
    padding: 40px 70px;
    font-size: 70%; }
  .reviews {
    padding-top: 30px;
    height: auto !important;
    text-align: center; }
    .reviews #left-arrow, .reviews #right-arrow {
      cursor: pointer;
      display: none; }
    .reviews .slider-container {
      margin: auto;
      width: auto;
      height: auto;
      background-color: #757575;
      text-align: center;
      color: #fff;
      padding-top: 4vw;
      border-radius: 20px; }
      .reviews .slider-container p {
        display: inline-block;
        margin: 0 10px;
        font-size: 4vw; }
      .reviews .slider-container #review-text-container {
        display: inline-block;
        width: 300px;
        min-height: 50px;
        vertical-align: middle; }
    .reviews h2 {
      font-size: 7vw !important; } }
